<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="icon" th:href="@{favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="tasks-container">
        <h1>To Do List</h1>
        <h2 class="welcome-message">Welcome, <span th:text="${userLogin}"></span>!</h2>
        <form th:action="@{/tasks}" method="post">
            <div class="input-container">
                <div class="input">
                    <label for="taskTitle" class="visually-hidden">New task</label>
                    <input id="taskTitle"
                           type="text"
                           name="title"
                           placeholder="Add a new task..."
                           maxlength="80"
                           required>
                </div>
                <div>
                    <button type="submit">Add</button>
                </div>
            </div>
        </form>
        <div>
            <th:block th:each="task : ${tasks}">
                <div>
                    <div class="task-container">
                            <span th:classappend="${task.completed} ? 'completed-task' : ''"
                                  th:text="${task.title}"
                                  class="task">
                                Task
                            </span>
                        <div class="button-container">
                            <form th:action="@{/tasks/{id}/toggle(id=${task.id})}" method="post">
                                <button class="btn btn-outline-secondary btn-sm" type="submit">Toggle</button>
                            </form>

                            <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>